/* 공통 */
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100;200;300;400;500&display=swap');

*
{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html
{
    
}

body
{
    font-size: calc(0.35em + 0.7vw);
    font-family: 'Hahmlet', serif;
    height: 100vh;
}

/* @media only screen and (max-width:1200px)
{
    body
    {
        font-size: 0.8rem;
    }
} */

.container
{
    margin: 0 auto !important;
    padding-right: 0!important;
    padding-left: 0!important;
    max-width: 100%;
    min-height: 100vh;
}

img, button 
{
    vertical-align: middle;
    border: none;
}

ul
{
    margin-bottom: 0;
}


/* header */

#header_wrap
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 20px 15px 20px;
    justify-content: space-between;
    z-index: 1000;
    background-color: #f3f1ed;
    box-shadow: 0px 1px 3px 0px rgb(192, 192, 192);
    transition: all 0.4s;
}

#header_wrap.fixed 
{
    top: 0;
}

.header__top
{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header__top-box
{
    display: flex;
}

.logo img
{
    max-width: 13vh;
    max-height: 3vh;
    cursor: pointer;
}

.header__nav > ul
{
    display: flex;
    justify-content: space-around;
}

.header__nav > ul > li
{
    margin-left: 15px;
    color: #999;
    cursor: pointer;
}



/* header-top search-form */

.header__search
{
    position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: 500px;
    background: #ffffff;
    border: 0;
    z-index: 999;
    display: none;
    box-shadow: 0px 3px 5px 0px rgb(187, 187, 187);
}

form
{

    position: absolute;
    background: #ffffff;
    right: 20px;
    z-index: 999;
}

fieldset
{
    vertical-align: middle;
    border: none;
}

.header__search-input 
{
    position: absolute;
    z-index: 999;
    top: 100%;
    padding: 25px;
    right: 60px;
    width: 320px;
    height: 30px;
    font-size: 1rem;
    color: inherit;
    border: none;
    outline: none;
    vertical-align: middle;
    background: #f7f1ea;

}

.btn-search
{
    position: absolute;
    right: -20px;
    top: 100%;
    width: 80px;
    height: 50px;
    border-left: solid 1px rgb(193, 193, 193);
    background: #ebe6df;
    color: #999;
    cursor: pointer;
    font-size: 1rem;
}

.fa-magnifying-glass
{
    background: #ffffff;
}

.header_recommend 
{
    display: flex;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: 80px;
    left: 0;
}

.header_recommend_md
{
    width: 200px;
    white-space: normal;
}

.header_recommend_md:first-child
{
    margin: 10px;
}

.header_recommend_md:nth-child(2)
{
    margin: 10px 10px 10px 0;
}

.header_recommend > .header_recommend_md > .recommend_text > a
{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.header_recommend > .header_recommend_md > .recommend_img > a > img
{
    width: 100%;
    height: 100%;
}

.recommend_text p
{
    font-size: 0.9rem;
}

.search_close 
{
    position: absolute;
    top: 90%;
    left: 45%;
}

/* header bottom */

.header__bottom
{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    
}

.header__bottom-inner
{
    display: none;
    justify-content: left;
    margin-right: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 50%;
    background: #ffffff;
}

@media (max-width: 1080px)
{
    .logo
    {
        margin: 0 auto;
    }
}

.header__category
{
    position: relative;
    z-index: 2000;
}

.header__category-item
{
    white-space: nowrap;
    /* position: relative; */
    padding: 35px;
}

.header__category-item:hover
{
    background: #f3f1ed;
    color: rgb(102, 50, 1);
    transition: 0.6s;
}

.header__category-title
{
    font-weight: 500;
    cursor: pointer;
    /* position: absolute; */
    font-size: 1.1rem;
}

.header__category-title:hover
{
    color: rgb(102, 50, 1);
    transition: 0.6s;
}

    /* header bottom _ sub_category */
.header-gnb
{
    width: 50%;
    height: 100%;
    background: #f3f1ed;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 1000;
    /* padding: 20px; */
    /* border-radius: 10px; */
    font-size: 0.9rem;
}

.header__gnb-item
{
    display: inline-block;
    padding: 35px 0 30px 35px;
}

.header-gnb__item
{
    padding: 35px;
}

.header-gnb__item:hover
{
    background: #ebe6df;
    transition: 0.6s;
}

.header-gnb__item-title
{
    display: inline-block;
    cursor: pointer;
    font-weight: 500;    
    font-size: 1.1rem;
}

.header-gnb__sub
{
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    padding-top: 10px;
    background: #ebe6df;;
}

.header-gnb__sub-item
{
    padding: 20px 20px 20px 35px;
}

.header-gnb__sub-item:hover
{
    font-weight: bold;
}

.header-gnb__sub-title, .header__gnb-title
{
    cursor: pointer;
    font-size: 0.9rem;
}

.header__gnb > .header__gnb-item > .iu_link
{
    color: rgb(233, 160, 190);
}

.header__gnb > .header__gnb-item > .iu_link:hover
{
    font-weight: bold;
}

.header__right
{
    background: #ffffff;
    /* padding: 10px; */
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}

.header__right i
{
    padding: 20px;
}

.header-btn_wrapper
{
    /* display: none; */
    width: 100%;
    height: 100%;
}

.header__btn-wrap
{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.header__btn-wrap > a > i
{
    vertical-align: middle;
}

.fa-solid
{
    font-size: 1rem;
    color: rgb(121, 121, 121);
    cursor: pointer;
}

.header_right .fa-solid:hover, .header__btn-wrap .fa-solid:hover
{
    color: rgb(187, 187, 187);
}

@media (max-width: 768px)
{
    .header__category-title, .header-gnb__item-title
    {
        font-size: 0.9rem;
    }

    .header__category-item,.header-gnb__item
    {
        white-space: nowrap;
        padding: 20px;
    }

    .header__gnb-item 
    {
        display: inline-block;
        padding: 25px 0 20px 10px;
    }

    .header__gnb-item:first-child
    {
        display: inline-block;
        padding: 25px 0 20px 20px;
    }

    .header-gnb__sub-item
    {
        padding: 15px 10px 0 20px;
    }
}


/* section 1 */

section#section1 
{
    /* height: 840px; */
    width: 100%;
    height: 100%;

    
}

.main-slide__item-img
{
    max-width: 100%;
    height: auto;
}

.main__slide_wrap {
    width: 100%;
    height: 100%;
}

/** || Carousel Styles */

#carousel 
{
    padding: 0;
    margin: 0;
    position: relative;
    width: 300px;
    height: auto;
  }

  #carousel li 
  {
    opacity: 0;
    list-style: outside none none;
    width: 300px;
    position: absolute;
    background: transparent;
    transition: opacity 1s;
  }

.main-slide__item-img
{
    width: 100%;
    max-height: 900px;
    width: 900px;
}

#carousel, #carousel li, .main-slide__item-img 
{
    width: 100vh;
    max-width: 100%;
    max-height: 100%;
    height: 100vh;
}

  @media (min-width: 300px) 
  {
    #carousel, #carousel li, .main-slide__item-img 
    {
      width: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

/* section 2 */
#section2 
{
    background-color: #f3f1ed;
    padding: 1px;
    max-height: 1200px;
}

.section2-container
{
    margin: 50px auto 0 auto;
    width: 80%;
    padding-bottom: 5%;
}

.main__title 
{
    width: 100%;
    margin: 0 auto;
}

.main__title-text 
{
    vertical-align: middle;
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 1;
    color: #222;
    text-align: center;
    margin-bottom: 50px;
}

/* section 3 */
.section3_wrap
{
    width: 90%;
    margin: 80px auto;
}

p.main__title-text.section3_title-text {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

/* section 4 */

#section4
{
    /* max-width: 1900px; */
    height: auto;
    font-size: 1rem;
    background-color: #f3f1ed;
}

#section4 > .main__title
{
    padding-top: 50px;
}

#section4 a
{
    display: block;
}


#exhibition_slide{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(255, 255, 255);
  }

  .exhibition_contents
{
    /* float: left; */
    width: 650px;
    margin: 30px auto 0 auto;

    top: 100px;
    left: 100px;
}

.exhibition_top, .exhibition_bottom
{
    width: 100%;
}

.exhibition_top a
{
    width: 90%;
    height: 90%;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}

.exhibition_top img
{
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.exhibition_title
{
    max-width: 500px;
    width: 90%;
    margin: 20px auto ;
}

.exhibition_title p
{
    margin: 0;
}

.exhibition_title p:last-child
{
    font-weight: 600;
    font-size: 1.2rem;
}

.exhibition_bottom 
{
    max-width: 600px;
    margin: 0 auto;
    padding-top: 40px;
    border-top: 1px solid #999;
}

.ex_product
{
    display: flex;
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.ex_product a
{
    width: 25%;
    height: 25%;
}

.ex_product img
{
    /* min-width: 85px;
    min-height: 85px;
    max-width: 110px;
    max-height: 110px; */
    width: 100%;
    height: 100%;
}

.exhibition_products_txt
{
    width: 65%;
    font-size: 0.9rem;
    margin-left: 10px;
    height: 100%;
}

.products_title
{
    text-transform: uppercase;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 0.9rem;
}

.exhibition_products_txt span
{
    word-break: break-word;
    height: 100%;
    line-height: 20px;
    margin: 0;
    font-size: 0.9rem;
}

.exhibition_products_txt span:last-child
{
    font-weight: 600;
    color:rgb(211, 68, 128);
}

.exhibition_products_icon
{
    width: 10%;
}

.exhibition_products_icon a
{
    width: 100%;
    
}

.exhibition_products_icon > a > .fa-solid
{
    font-size: 1.2rem;
    color: rgb(196, 196, 196);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.exhibition_products_icon > a > .fa-solid:hover
{
    color: rgb(233, 160, 190);
}


@media (max-width: 1000px) 
  {
    .products_title > p
    {
        font-size: 0.9rem;
    }

    .exhibition_products_txt > p
    {
        font-size: 0.9rem;
    }

    .exhibition_products_txt span
    {
        font-size: 0.9rem;
    }

    .exhibition_products_icon > a > .fa-solid
    {
        font-size: 1rem;
        color: rgb(196, 196, 196);
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 5px;
    }
  }

  @media (max-width: 800px) 
  {
    /* .products_title
    {
        max-width: 100px;
    } */

    .products_title > p
    {
        font-size: 0.8rem;
        margin: 0;
    }

    .exhibition_products_txt > p
    {
        font-size: 0.8rem;
    }

    .exhibition_products_txt span
    {
        font-size: 0.8rem;
    }

    .exhibition_products_icon > a > .fa-solid
    {
        font-size: 1rem;
        color: rgb(196, 196, 196);
        cursor: pointer;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        margin-left: 5px;
    }
  }

  
  .button-box {
    display: flex;
    text-align:center;
    padding: 20px 0;
    width: 124px;
    height: 80px;
    margin: 0 auto;
  }

  .button-box .fa-solid, .fas
  {
    color: rgb(196, 196, 196);
    font-size: 15px;
    line-height: 15px;
    cursor: pointer;
    margin: 0 10px;
  }

  .button-box .fa-solid:hover, .fas:hover
  {
    color: rgb(233, 160, 190);
  }
  
  a:last-child {
    margin-right: 0px;
  }

/* banner */

.banner
{
    display: flex;
    margin: 50px 0;
}

.banner a, .banner img
{
    width: 100%;
    height: 100%;
}


@media (max-width: 768px) 
  {
    .banner
    {
        display: block;
    }
  }


/* section 5 */

#section5
{
    /* max-width: 1900px; */
    height: 100%;
    font-size: 1rem;

}

.event
{
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
}

.event a, .event img
{
    width: 100%;
    height: 100%;
}

.youtube
{
    width: 80%;
    height: 800px;
    min-height: 300px;
    margin: 0 auto;
    padding-bottom: 50px;
}

iframe
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 800px;
}

@media (max-width: 1000px) 
  {
    .youtube
    {
        width: 80%;
        height: 600px;
    }

  }

  @media (max-width: 768px)
  {
    .youtube
    {
        width: 80%;
        height: 400px;
        min-height: 300px;
    }
  } 

  /* moveTop Button */
  .moveTopBtn
  {
    position: fixed;
    bottom: 4rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #ffffff;
    color: #222;
    box-shadow: 0px 2px 5px 0px rgb(187, 187, 187);
  }
  
  .moveTopBtn > .fa-solid
  {
    font-size: 1.5rem;
    position: absolute;
    top: 28%;
    left: 32%;
  }

  /* footer */

  footer
  {
    background: #e0ddd5;
    font-size: 1rem;
    color: #999;
  }

  .footer_wrap
  {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    font-size: 0.9rem;
  }

  .footer_wrap li
  {
    cursor: pointer;
  }

  .footer_logo img
  {
    max-width: 13vh;
    max-height: 3vh;
    cursor: pointer;
    margin: 30px 0;
  }

  .footer_left
  {
    padding-right: 20px;
  }

  .footer_navi
  {
    display: flex;
  }

  .footer_navi > li:not(.footer_navi_last)
  {
    padding-right: 15px;
    border-right: 1px solid rgb(207, 207, 207);
  }

  .footer_navi > li:not(.footer_navi_first)
  {
    padding-left: 15px;
  }

  .footer_navi2
  {
    display: none;
  }

  .copyright
  {
    padding-top: 20px;
  }

  .footer_right
  {
    padding-top: 20px;
  }

  .footer_right > p:first-child
  {
    font-size: 1.2rem;
    color: rgb(128, 128, 128);
  }

  @media (max-width: 826px)
  {
    .footer_navi
    {
        display: none;
    }

    .footer_navi2
    {
        display: block;
    }

    .footer_navi2_inner, .footer_navi2_inner2
    {
        display: flex;
        font-size: 0.9rem;
    }

    .footer_navi2_inner > li, .footer_navi2_inner2 > li
    {
        padding: 0 10px;
        border-right: 1px solid rgb(207, 207, 207);
    }

    .footer_navi2_inner > li:first-child, .footer_navi2_inner2 > li:first-child
    {
        padding-right: 10px;
        padding-left: 0;
    }

    .footer_navi2_inner > li:last-child, .footer_navi2_inner2 > li:last-child
    {
        border: none;
    }

    .footer_navi2_inner2 > li
    {
        margin-top: 10px;
    }

    .copyright
    {
        font-size: 0.9rem;
    }

    .footer_right
    {
        font-size: 0.9rem;
    }
  } 

  .sns i
  {
    font-size: 20px;
    margin-right: 10px;
  }

  .sns a
  {
    text-decoration: none;
    color: #999;
  }