*
{
    margin: 0;
    padding: 0;
    list-style: none;
}

body
{
    background-color: gray;
    font-size: 1rem;
}

.container
{
    margin: 0 auto;
    max-width: 150vh;
    min-height: 100vh;
}

#header_wrap
{
    margin: 0 auto;
}

.header__top
{
    display: flex;
    justify-content: space-between;
}

.header__top-box
{
    display: flex;
}

.logo img
{
    width: 8vh;
    height: 5vh;
}

.header__nav > ul
{
    display: flex;
    justify-content: space-around;
}


.header__search-btn
{
    width: 20px;
    height: 20px;
}

/* header bottom */

.header__bottom
{
    margin-top: 30px;
    display: flex;
    padding: 10px 0 10px 0;
    white-space: nowrap;
    justify-content: space-between;
}

.header__bottom-inner
{
    display: flex;
    justify-content: left;
    margin-right: 20px;
}


.header__category
{
    display: flex;
    /* max-width: 800px; */
    justify-content: space-between;
    margin-right: 10px;
    position: relative;
}

.header__category-item
{
    margin: 0 10px 0 10px;
    white-space: nowrap;
}

    /* header bottom _ sub_category */
.header-gnb
{
    margin-top: 30px;
    width: 100%;
}

.header-gnb__list
{
    display: flex;
    position: absolute;
}

.header__gnb-item
{
    display: inline-block;
    
}

.header-gnb__item
{
    padding-right: 30px;
}

.header-gnb__item-title
{
    display: inline-block;
    padding: 5px 0 15px 0;
}

.header-gnb__sub-item
{
    padding: 5px 0 5px 0;
}

.header-gnb__sub-title
{
    
}